<div class="profile-pattern">
<div class="profile">
  <form name="userForm" class="" ng-submit="$ctrl.submitForm()">
    <h2 class = "profTitle">Profile</h2>
    <list-errors errors="$ctrl.errors"></list-errors>
    <div ng-disabled="$ctrl.isSubmitting">

      <div class="UserName">
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Username
        <input class="form-control form-control-lg" type="text" placeholder="Username"ng-model="$ctrl.formData.username" />
        </div>
      <div class="Opinion">
          <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Opinion about Page
          <textarea class="form-control form-control-lg" rows="8" placeholder="Opinion about page" ng-model="$ctrl.formData.bio">
          </textarea>
        </div>
      <div class="email">
          <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email
          <input class="form-control form-control-lg" type="email" placeholder="Email" ng-model="$ctrl.formData.email" />
        </div>
        <div class="passwd">
        <i class="fa fa-key" aria-hidden="true"></i>&nbsp;Password
          <input class="form-control form-control-lg" type="password" placeholder="New Password" ng-model="$ctrl.formData.password" />
        </div>
       <div class="avatar">
         <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Avatar
         <br>
         <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
         <i ng-show="myForm.file.$error.required">*required</i><br>
         <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
         <button ng-click="picFile = null" ng-show="picFile">Remove</button>
         <br>
         <span class="progress" ng-show="picFile.progress >= 0">
         <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
       </span>
       <span ng-show="picFile.result">Upload Successful</span>
       <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
     </div>
    </div>
    <div>
        <button type="submit" id="send" class="send"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Update Settings</button>
    </div>
  </form>
</div>
</div>
