<!-- <div ng-include="'footerTPL.html'"></div> -->
<div class="sticky" ng-click="chat()">Live support <i class="fa fa-circle Blink"></i></div>
<div></div>
<footer class="footer">
    <div class="social-area">
      <p>©2018<span class="footer-text">FARMIXSHOP</span></p>
    </div>
    <div class="img-logo">
      <img class="log" src="img/logo2.png" width="50px" alt="">
      <div class="footer-lang">
          <a href="" ng-click="changeLanguage('es')" class="lang">ES</a>
          <a href="" ng-click="changeLanguage('en')" class="lang">EN</a>
      </div>
    </div>
    <div>
            <section>
                    <ul id="services">
                      <li>
                        <div class="facebook">
                          <a href="https://facebook.com/">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="twitter">
                          <a href="https://twitter.com/">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="github">
                          <a href="https://github.com/">
                            <i class="fa fa-github" aria-hidden="true"></i>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </section>
                  <div class="payment-methods">
                        <div> <i class="fa fa-cc-stripe" aria-hidden="true"></i> <i class="fa fa-cc-paypal" aria-hidden="true"></i> <i class="fa fa-cc-mastercard" aria-hidden="true"></i> </div>
                        <div> <i class="fa fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-cc-visa" aria-hidden="true"></i> </div>
                    </div>
    </div>
    <!-- <div class="">
        <h1>FarmixShop Info</h1>
        <p>IES Lestació</p>
        <p>Lo que vullges</p>
    </div>
    <div class="payment-methods">
        <h4>Payment Methods</h4>
        <div> <i class="fa fa-cc-stripe" aria-hidden="true"></i> <i class="fa fa-cc-paypal" aria-hidden="true"></i> <i class="fa fa-cc-mastercard" aria-hidden="true"></i> </div>
        <div> <i class="fa fa-cc-amex" aria-hidden="true"></i> <i class="fa fa-cc-visa" aria-hidden="true"></i> </div>
    </div> -->
</footer>