<header>
  <nav class="menu" id="menu">
    <div class="logomenu" id="logomenu">
      <div class="logo"><img src="img/logo.png" alt="" width="50px"></div>
    </div>

    <hr id="responsive-hr" style="visibility:hidden;">
    
    <div class="items" id="items">
      <a class="item-link" ui-sref-active="active"
      ui-sref="app.home"><p translate="HOME"></p></a>
      <a class="item-link" ui-sref-active="active"
      ui-sref="app.shop"><p translate="SHOP">SHOP</p></a>
      <a class="item-link" ui-sref-active="active"
      ui-sref="app.contact" href="contact.html"><p translate="CONTACT">CONTACT</p></a>
      <a show-authed="false" class="item-login" ui-sref="app.login"><p class="login-button">LOG IN</p></a>
      <a show-authed="true" class="item-link user" ui-sref-active="active" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
      <img show-authed="true" ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
      Welcome, {{ $ctrl.currentUser.username }} &nbsp;<small show-authed="true" class="VIP" ng-if="$ctrl.vip==='ok'">VIP</small>
    </a>
      <a class="item-login" show-authed="true" ui-sref-active="active" ng-click="$ctrl.logout()"><p class="logout-button">Log Out</p></a>
    </a>
    </div>

</header>


<!--<nav class="menu" id="menu">
  <div class="logomenu" id="logomenu">
    <div class="logo">LOGO</div>
    <a class="menulogo" id="menulogo"><i class="fa fa-bars fa-5" aria-hidden="true"></i></a>

  </div>-->
  <!--<hr id="responsive-hr" style="visibility:hidden;">-->

    <!-- Show this for logged out users -->
    <!--<ul show-authed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.login">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.register">
          Sign up
        </a>
      </li>

    </ul>
  -->
    <!-- Show this for logged in users -->
    <!--<ul show-authed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.contact">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.editor">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.settings">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="item-link"
          ui-sref-active="active"
          ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
          <img ng-src="{{$ctrl.currentUser.image}}" class="user-pic" />
          {{ $ctrl.currentUser.username }}
        </a>
      </li>

    </ul>



  </div>
</nav>
-->