<section class="mask" id="mask">
  <div ng-include="'home1.html'"></div>
     <div class="real-cases">
       <h1 class="title-cases" translate="BEST"></h1>
       <div class="plans">
         <div class="columns" ng-hide="showme" ng-repeat="a in data | orderBy:'price':true | limitTo:3">
           <ul class="price">
             <a ui-sref="app.shopdetail({id: a.id_detail})">
             <li class="header"><img class="best-image" src="img/noPicture.png" alt="">{{a.name}}</li>
             <li class="green desk-col">{{a.descripcion}}</li>
             <li class="green1">Units available: {{a.quantity}}</li>
             <li class="green2">Tipo de {{a.name}}: {{a.type}}</li>
             <li class="green3">{{a.price}}€/kg</li>
             </a>
           </ul>
         </div>
       </div>
     </div>
     <div ng-include="'home2.html'"></div>
     <script type="text/ng-template" id="chat">
      <div id="chat">
          <p class="live-title">Live Chat</p>
           <div class="live-patt">
               <div class="live-box" ng-repeat="message in messages">
                   {{ message.user.name }}:
                   {{ message.data }}
               </div>
               <form  ng-submit="send()">
                   <input class="a" ng-model="textbox">
                   <input class="send-chat" type="submit"></input>
               </form>
           </div>
       </div>
   
  </script>
   </section>
