@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: #f1f1f1;
}
header {
  display: block;
}
.menu{
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  justify-content: space-around;
  flex-direction: row;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.item-link{
  padding-left: 22px;
  padding-right: 22px;
  padding: 27px;
}
.logo{
  margin: 27px;

}
.menulogo{
  margin:27px;
  display: none;
}
.logomenu{
  display: flex;
  justify-content: space-between;
}
.login-button{
  background: MediumSeaGreen;
  color: white !important;
  padding: 22px;
  margin-top:5px;
  margin-bottom: 5px;
  border-radius: 7.5px;
}
.image-home img{
  width: 100%;
   height: auto;
   max-width: 100%;

}
.image-home{
  position:relative;

}
.test{
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.search-input{
  border: none;
  padding: 7px;
  background: transparent;
  border-bottom: 2px solid white;
  font-size: 40px;
  color: white;
  -webkit-transition: background 2s;

}
.search-input::placeholder{
  color:white;
}
.search-input:focus{
  border-radius: 5px;
  background: white;
  color:#333;
  outline:none;

}
.btn-search{
  border: none;
  background: MediumSeaGreen;
  color: white;
  font-size: 30px;

  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.sign-buttons{
  display: flex;
  justify-content: center;
  margin-top:20px;
  color: white;
}
.register{
  border: none;
  background: tomato;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin:3px;
  font-size: 20px;
}
.s-i{
  border: none;
  background: MediumSeaGreen;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin:3px;
  font-size: 20px;
}
.text-si{
  margin-top: 20px;
  font-size: 25px;
  color: white;
}
.real-cases{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-top: 2em;
}
.title-cases{
  font-size:40px;
  font-weight: normal;
}
.typing{
  font: bold 500% Consolas, Monaco, monospace;
  border-right: .1em solid white;
  width: 21ch;
  margin: 2em 1em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
             blink-caret .5s step-end infinite alternate;
  color: white;
}
.search-responsive{
  display: none;
}
.plans{
  display: flex;
  justify-content: center;
  min-width: 60%;
}
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

@media only screen and (max-width:1202px) {
  .typing{
    font: bold 300% Consolas, Monaco, monospace;

  }
}
@media only screen and (max-width:866px){
  .typing{
    font: bold 200% Consolas, Monaco, monospace;

  }
}
@media only screen and (max-width:722px){
  .typing{
    font: bold 120% Consolas, Monaco, monospace;

  }
}

@media only screen and (max-width: 655px) {
  .search-content{
    display: none;
  }

  .search-responsive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
  }
  .typing{
display: none;
  }
  .search-content-responsive{
    display: block;
  }
  .search-responsive .search-input{
    border: none;
    padding: 7px;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: black;
  }
  .search-responsive .search-input::placeholder{
    color: black;
  }
  .image-home img{
    display: none;
  }
  .image-home{
  position:static;

  }
  .test{
    margin-top: 20px;
  }
  .image-home .test .sign-buttons{
    display: none;
  }
  .text-si{display: none}
}
@media only screen and (max-width: 576px) {

  .menu{
    flex-direction: column;
  }
  .menulogo{
    margin:22px;
    display:inline;
  }
  .items{
    display: none;
    flex-direction: column;
    text-align: center;
  }
  .items-responsive{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .item-link{

    background-color: white;
    color: black !important;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
  }
  .item-link:hover{
    background: #333;
    color: white !important;
    cursor: pointer;
  }
  .mask-shadow{
    height:87vh;
    transition: opacity 300ms;
    background: rgba(0,0,0,0.5);
  }
  .image-home{
    display: none;
  }
}
