@import "font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url(http://weloveiconfonts.com/api/?family=fontawesome);
*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
}
body{
  background-color: #f1f1f1;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
header {
  display: block;
}
a {
  text-decoration: none;
  color: #333;
}
.menu{
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  justify-content: space-around;
  flex-direction: row;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.item-link{
  padding-left: 22px;
  padding-right: 22px;
  padding: 27px;
  border-bottom:4px solid white;
  -webkit-transition: border-bottom .5s ease-out;
  -moz-transition: border-bottom .5s ease-out;
  -o-transition: border-bottom .5s ease-out;
  transition: border-bottom .5s ease-out;
}

  .item-link:hover{
    border-bottom:4px solid black;
    cursor: pointer;
  }
.logo{
  margin: 27px;

}
.menulogo{
  margin:27px;
  display: none;
}
.logomenu{
  display: flex;
  justify-content: space-between;
}
.login-button{
  border:2px solid MediumSeaGreen;
  color: MediumSeaGreen !important;
  padding: 10px;
  background: white;

}
.login-button:hover{
  border:2px solid MediumSeaGreen;
  color: white !important;
  background-color: MediumSeaGreen;
}
.logout-button{
  border:2px solid tomato;
  color: tomato !important;
  padding: 10px;
  background: white;
}
.logout-button:hover{
  border:2px solid tomato;
  color: white !important;
  background-color: tomato;
}
.image-home img{
  width: 100%;
   height: auto;
   max-width: 100%;
}
.user{
  color: #7c7c7c !important;
}
.image-home{
  position:relative;

}
.test{
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.search-input{
  border: none;
  padding: 7px;
  background: transparent;
  border-bottom: 2px solid white;
  font-size: 40px;
  color: white;
  -webkit-transition: background 2s;

}
.search-input::placeholder{
  color:white;
}
.search-input:focus{
  border-radius: 5px;
  background: white;
  color:#333;
  outline:none;

}
.btn-search{
  border: none;
  background: MediumSeaGreen;
  color: white;
  font-size: 30px;

  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.sign-buttons{
  display: flex;
  justify-content: center;
  margin-top:20px;
  color: white;
}
.register{
  border: none;
  background: tomato;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin:3px;
  font-size: 20px;
}
.s-i{
  border: none;
  background: MediumSeaGreen;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin:3px;
  font-size: 20px;
}
.text-si{
  margin-top: 20px;
  font-size: 25px;
  color: white;
}
.real-cases{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-top: 2em;
}
.title-cases{
  font-size:40px;
  font-weight: normal;
}
.typing{
  font: bold 500% Consolas, Monaco, monospace;
    border-right: .1em solid white;
    width: 21ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(21, end),
               blink-caret .5s step-end infinite alternate;
  color: white;
}
.search-responsive{
  display: none;
}
.plans{
  display: flex;
  justify-content: center;
  min-width: 60%;

}
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}
.desk-col{
  min-height: 35px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price .header {
    background-color: #4CAF50;
    color: black;
    font-size: 25px;
}
.green, .green2{
  background-color: #50C878;
}
.green1, .green3{
  background: #93C572;
}


.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}



.divContact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}



.name, .form-control, .msg{
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:black;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 30px;

}

.send{
  position: relative;
   display: block;
   padding: 19px 39px 18px 39px;
   color: #FFF;
   margin: 0 auto;
   background: mediumseagreen;
   font-size: 18px;
   text-align: center;
   font-style: normal;
   width: 100%;
   border: 1px solid #16a085;
   border-width: 1px 1px 3px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
   margin-bottom: 10px;
}


.problem select {
  border: 0;
   color: black;
   background: #e8eeef;
   font-size: 30px;
   font-weight: bold;
   padding: 2px 10px;
   width: 378px;
   -webkit-appearance: none;
}
 .problem {
   border:none;
   overflow:hidden;
   width:400px;
   height: 40px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
   margin-bottom: 20px;
 }

 .titleContact {
   color: #4CAF50;

   font-size: 32px;
   font-weight: 300;
   line-height: 20px;
   text-align: center;
   margin-bottom: 50px;
   margin-top: -45px;
 }
 footer{
   background: MediumSeaGreen;
   min-height: 150px;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
 }
 .footer-text{
  color: #fff;
  font-weight: bold;
 }
 .social-area{
 color: rgb(69, 216, 133);
 font-weight: bold;
 font-size: 20px;
 }
 .social-area > ul{

 }
 section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  margin: 80px 0px 40px;
  color: #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 60px;
  height: 60px;
  color: #74d4b3;
  font-size: 3em;
  text-align: center;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li a {
  color: #77cc6d;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: #74d4b3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}
.contact-pattern{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact{
  background: white;
  padding:20px;
  border-radius:5px;
}
.list-pattern{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background: white;
}
.list-child{
  display: flex;
  min-width: 70%;
  max-width: 70%;
  margin-top:2%;
}
.filters{
  border: 2px solid #dddddd;
  background: #f9f9f9;
  border-radius: 3px;
  width: 25%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-by{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #dddddd;
  padding-top: 5%;
}
.products{
  background: #ffffff;
  width: 70%;
}
.products h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 1%;
}
.products .line-weight{
  border: none;
  height: 3px;
  color: #dddddd;
  background-color: #dddddd;
}
.top-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.down-title{
  display: flex;
  justify-content: space-between;
}
.down-title a{
  text-decoration: none;
  color: MediumSeaGreen;
  font-size: 20px;
  margin-right: 5px;
}
.item-list{
  display: flex;
  justify-content:flex-start;
  width: 100%;
  margin-top: 5%;
}
.item-list:hover{
background: rgb(247, 247, 247);
  z-index: 1;

}
.item-title-pattern{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.item-detail{
width: 50%;
border-right: 2px solid #dddddd;
display: flex;
}
.image-box{
  width: 100x;
  height: 100px;
  border:1px solid #dddddd;
  padding: 5px;
}
.image-box:hover{

  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}
.image-default{
  width: 100x;
  height: 100px;
}
.best-image{
  float:left;
  width: 35px;
  height: 40px;
}
.item-title{
  font-size: 25px;
}
.item-description{
  color:rgb(119, 119, 119);
  font-size: 15px;

}
.filter-title{
  font-size: 40px;
  margin-bottom: 4%;
  margin-top: 4%;
}
.orderBy{
  border: none;
  padding: 2%;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.order-by{
  border-bottom: 2px solid #dddddd;
}
.checkbo{
  margin-top: 5%;
}
.item-desc{
width: 40%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.item-d{
  display: flex;

}.item-data{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
span{
  color:rgb(119, 119, 119);
}
.item-packs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.item-pack{
  background: #F0F0F0;
  color: #999;
  padding: 5px;
  margin:3px;
  border-radius: 5px;
}

.item-price{
  font-size: 35px;
  font-weight: bold;
  color:MediumSeaGreen;
  margin-left:20%;
}
.search{
  display: flex;
  justify-content: center;
  background: #f9f9f9;
  min-width: 100%;
  width: auto;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding-top: 10px;
  padding-bottom: 10px;

}
.span-search{
  min-width: 50%;
  width: auto;
  background: #fff;
  border: 1px solid #cccccc;
  padding: 5px 0;
}
.general-search{

  min-width: 100%;
  width: auto;
  outline:none;
  background: #ffffff;
  border: 0;
  box-shadow: none;
  padding: 0 10px;
  height: 32px;
  font-family: Arial,sans-serif;
}
.search-button{
  border:none;
  background: MediumSeaGreen;
  color: white;
  min-width: 5%;
  outline:none;
}
.search-button:hover{
  background: rgb(45, 138, 85);
  outline:none;
}
.categorias{
  min-width: 7%;
margin-right: 1%;
}
.categorias select{
  width: 100%;
border: none;
background: white;
border:1px solid #dddddd;
padding: 0 10px;
height: 45px;
font-size: 17px;
}

.categorias select:focus{
  outline: none;

}
.detail-pattern{
  display: flex;
  width: 100%;
  justify-content: center;
}
.details-product{
  display: flex;
  margin-top: 5%;
  width: 80%;


}
.general-info{
  display: flex;
  width:60%;
  border-radius: 5px;
  background: white;
  flex-direction: column;
}
.top-info{
  display: flex;
}
li{
  list-style-type: none;
}
.tabs > ul{
  display: flex;
 border-bottom: 1px solid #dddddd;

}
.tabs > ul > li{
padding: 2%;
}
.tab-title{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color:mediumseagreen;
  font-weight: bold;
}
.tab-title.active{
  border-bottom: 2px solid mediumseagreen;
}
.viewTab{
  background: #f7f6f6;
  padding: 2%;
  -webkit-transition: 1350ms all(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 1350ms all(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 1350ms all(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 1350ms all(0.250, 0.250, 0.750, 0.750) all;
  transition: 1350ms all(0.250, 0.250, 0.750, 0.750) all;
}
.viewTab > h1{
  font-weight: normal;
}
.image-detail{
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  padding:1%;
  border:1px solid black;
}
.info{
  padding:2.5%;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.info-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 40px;
  color: black;
}
.info-miscelanea{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.add-info{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}
.pack-election{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.pack-election > select{
  border: none;
  padding: 2%;
}
.add-info > span{
  margin-top: 1%;
}
.total-money{
  margin-top: 5%;
  font-size: 50px;
  color:mediumseagreen;
  font-weight: bold;
}
figure.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}

.more-info{
  width: 35%;
  margin-left: 5%;
  border-radius: 5px;
  background: white;
  display: flex;
  justify-content: center;
}
.more-info > h2{
  font-weight: normal;
}
.product-carrousel{
 display: flex;
 justify-content: center;
 text-align: center;
}
.images-carrousel{
  display: flex;
  justify-content: center;
}
.image-carrousel{
text-align: center;
  width: 100px;
  height: 110px;
}
.more-products{
  margin:2%;
}
.more-products > p {
  font-size: 20px;
  margin-bottom: 2%;
}
.slick-prev:before, .slick-next:before{
  color: black !important;
}
.price-carrousel{
  color: mediumseagreen;
  font-weight: bold;
}
.fa-angle-left,.fa-angle-right {
  color: mediumseagreen;
}
.fa-angle-left:hover,.fa-angle-right:hover{
  color: black;
}
.btn-style{
  border: none;
  padding: 1%;
  background: white;
  outline: none;
}
.checkbo > div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkbo > div > * {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.search-by{
  text-align: center;
  margin-bottom: 2%;
  font-size: 20px;
}
/* MODAL */
/*MEDIA QUERIES*/
@media only screen and (max-width:1200px){
  .list-child{
    flex-direction: column-reverse;

  }
  .filters, .products{
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .columns {
      width: 100%;
  }
}

@media only screen and (max-width:1202px) {
.typing{
  font: bold 300% Consolas, Monaco, monospace;

}
}
@media only screen and (max-width:866px){
.typing{
  font: bold 200% Consolas, Monaco, monospace;

}
}
@media only screen and (max-width:722px){
.typing{
  font: bold 120% Consolas, Monaco, monospace;

}
}

@media only screen and (max-width: 655px) {
.search-content{
  display: none;
}

.search-responsive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
}
.typing{
display: none;
}
.search-content-responsive{
  display: block;
}
.search-responsive .search-input{
  border: none;
  padding: 7px;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 20px;
  color: black;
}
.search-responsive .search-input::placeholder{
  color: black;
}
.image-home img{
  display: none;
}
.image-home{
position:static;

}
.test{
  margin-top: 20px;
}
.image-home .test .sign-buttons{
  display: none;
}
.text-si{display: none}
}
@media only screen and (max-width: 576px) {

.menu{
  flex-direction: column;
}
.menulogo{
  margin:22px;
  display:inline;
}
.items{
  display: none;
  flex-direction: column;
  text-align: center;
}
.items-responsive{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mask-shadow{
  height:87vh;
  transition: opacity 300ms;
  background: rgba(0,0,0,0.5);
}
.image-home{
  display: none;
}
.bestProducts-cases{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-top: 2em;
}
}
/*CONTACT*/
@media only screen and (max-width:1160px){
 .contact-pattern{
   flex-direction: column;
   height: auto;
   justify-content: center;
 }
 .contact{
  background: white;
  width: 100vh;
  margin-top:20px;

}

  }
  @media only screen and (max-width:944px){
    .contact{
     width: auto;

   }

     }
a{
  text-decoration: none;
  color: #333;
}
.auth-page.ng-scope {
  min-height: 80vh;
}
.login-pattern{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-login{
  width: 100%;
}
.form-email{
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}
.social-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-fb{
  width: 39%;
  background: #3b5998;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 1%;
}
.social-tw{
  width: 39%;
  background: #00aced;
  color: white;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 1%;
}
.form-password{
  width: 80%;
  padding: 5px;
  margin-top: 10px;
}
.text-xs-center{
  text-align: center;
}
.btn-login{
  border:none;
  border:2px solid MediumSeaGreen;
  color: MediumSeaGreen !important;
  padding: 10px;
  background: white;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 10px;
}
.btn-login:hover{
  border:2px solid MediumSeaGreen;
  color: white !important;
  background-color: MediumSeaGreen;
}
.btn-reset{
  border:none;
  border:2px solid tomato;
  color: tomato !important;
  padding: 10px;
  background: white;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
}
.btn-reset:hover{
  border:2px solid tomato;
  color: white !important;
  background-color: tomato;
}
.form-group{
  display: flex;
  justify-content: center;
}
.login-class{
  display: flex;
  justify-content: center;

}
.item-login{
  padding: 17px;
}
.comment-section{
  background: #f7f6f6;
}
.comment-section > h2{
  font-weight: normal;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.payment-pattern{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77vh;
}
.vip-payment{
  background: white;
  margin:3%;
  border-radius: 3px;
  min-width: 400px;

}
.vip-box{
  display: flex;
  flex-direction: column;
}
.title-vip > h1 {
  font-weight: normal;
  font-size: 50px;
}
.vip-buy{
  border:none;
  background: mediumseagreen;
  padding:20px  ;
  color: white;
  font-size: 20px;
}
.title-vip,.img-vip{
  text-align: center;
}
.upgrades-vip{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vip-img{
  margin-left: 88%;
  margin-top: -6%;
  position: absolute;
}
.vip-section{
  padding: 20px;
  border-bottom: 2px solid #dddddd;
}
.vip-section-down{
  padding: 20px;
}
.vip-price{
  text-align: center;
  font-size: 45px;
  color: mediumseagreen;
  margin-bottom: 15px;
}
.payment-method{
  font-weight: normal;
  text-align: center;
  font-size: 25px;
  margin-top: 1%;
}
.payments{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
}
.pay{
  display: flex;
  justify-content: center;
}
.total-payout{
  text-align: center;
  font-size: 25px;
  margin-top: 5%;
  margin-bottom: 2.5%;
}
.favorite-method{
  text-align: center;
}
@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
.vip-payment.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}
.vip-payment.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}
.VIP{
  color: mediumseagreen;
  font-weight: bold;
}
.vip-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-methods{
  font-size: 30px;
  text-align: center;
  color: #eeeeee;
}
.payment-methods:hover{
  color: white;
}
.payment-methods > h4{
  font-size: 25px;
  font-weight: normal;
}

/*Social shared*/
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  font-size: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
          box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 20px;
  vertical-align: middle;
}
.shareProducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}
.btn-vip{
  margin-top: 5px;
  padding: 10px;
  background: mediumseagreen;
  color: white;
  border-radius: 3px;
}
.facebook-before {
	background-color: #0064ab;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #f4f4f4;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.facebook {
	background-color: #0079ce;
	border: none;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #f4f4f4;
	cursor: pointer;
	height: 50px;
	text-transform: uppercase;
	width: 250px;
}
.twitter-before {
	background-color: #189bcb;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #f4f4f4;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}


.twitter {
	background-color: #1bb2e9;
	border: none;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #f4f4f4;
	cursor: pointer;
	height: 50px;
	text-transform: uppercase;
	width: 250px;
}
.social-signin >div{
  margin-bottom: 10px;
}
.btn-round {
	background-color: #5a5656;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #f4f4f4;
	display: block;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	margin: 30px 125px;
	text-align: center;
	text-transform: uppercase;
	width: 50px;
}
.or{
  display: flex;
  justify-content: center;
}
.a{
	background-color: #e5e5e5;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 50px;
	outline: none;
	padding: 0px 10px;
	width: 280px;
  -webkit-appearance:none;
  margin-bottom: 10px;
}
.w{
	background-color: #008dde;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: 50px;
	text-transform: uppercase;
	width: 300px;
	-webkit-appearance:none;
}
.wa{
  display: flex;
  justify-content: center;
}
.overflowable {
  height: 240px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}

/* poor man's grid system */
.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}
.Blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  color: red;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}
.live-support{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.live-support >h1{
  font-weight: normal;
  font-size: 40px;
}
.chat{
  border: none;
}
#chat{

  justify-content: center;
  margin-top: 15px;
}
.sticky {
  position: -webkit-fixed;
  position: fixed;
  bottom: 0;
  right: 10%;
  padding: 10px;
 background: mediumseagreen;
 color: white;
 font-size: 20px;
}
.live-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.live-box{
  background: #dddddd;
  padding: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

}
.live-patt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.send-chat{
  background-color: #008dde;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: 50px;
	text-transform: uppercase;
  width: auto;
  min-width: 100px;
	-webkit-appearance:none;
}
.img-logo{
margin-left: 6%;
}
.footer-lang{
  margin-left: -25%;
  font-weight: bold;
}
.lang{
  color: white;
}
.lang:hover{
  color: rgb(38, 122, 75)
}
.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text1{
  min-width: 500px;
  min-height: 200px;
}
.comments{
  background: mediumseagreen;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  max-width: 350px;
}
.userinput{
  min-width: 500px;
}
.yep{
  display: flex;
  justify-content: center;
}

.profile-pattern{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile{
  background: white;
  padding:20px;
  border-radius:5px;
}

.profTitle{
  text-align: center;
}
.profile-page{
  height: 52vh;
  background: white;
    
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
.action-btn{
  background: mediumseagreen;
  border: 3px solid rgb(56, 161, 102);
  color: white;
  padding:10px;
  border-radius: 5px;;
}