<div class="list-pattern">
    <div class="search">
        <span class="span-search">
            <input type="search" class="general-search" placeholder="Search in our harvest" ng-model="query">
        </span>
       
        <button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div class="list-child">
        <div class="filters">
                <p class="filter-title">Filters</p>
                <div class="order-by">
                    <p>Order By:</p>
                    <select ng-model="orderBy" id="orderBy" class="orderBy">
                        <option value="price">Price: lower to higher</option>
                        <option value="-price">Price: higher to lower</option>
                        <option value="-dateAdded">The newest one</option>
                        <option value="dateAdded">The older</option>
                    </select>
                </div>

                <div class="checkbo">
                    <p class="search-by">Search by:</p>
                    <div>
                        <li class="no-decoration" ng-repeat="tag in tagArray">
                        <label>
                            <input type="checkbox" ng-model="tag.on" ng-change="checkChange()" />{{tag.name}}
                        </label>
                        </li>
                    </div>
                </div>
        </div>
        <div class="products">
            <div class="top-title">
                <h1>Our Harvest</h1>
                <div class="">Mostrar: 
                    <select ng-model="pageSize" id="pageSize" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>
                </div>
            </div>
            <div class="down-title">
                <p>{{$shopCtrl.data.length}} Results found</p>
                <div>
                    <a href="" ng-click="showme=false"><i class="fa fa-map" aria-hidden="true" ></i> &nbsp;List</a>
                    <a href="" ng-click="showme=true" ><i  ng-click="initMap('foo')" class="fa fa-list" aria-hidden="true"  ></i> &nbsp;Maps</a>
                </div>
            </div>
            <hr class="line-weight">
            <!--filter:filters-->
            <!--a in data = ($shopCtrl.data | filter : {name: query})-->
            <div ng-hide="showme" ng-repeat="a in data | filter:myFunc | orderBy:orderBy | startFrom:currentPage*pageSize | limitTo:pageSize">
                <a ui-sref="app.shopdetail({id: a.id_detail})">
                <div class="item-list">
                    <div class="item-detail">
                        <div class="image-box">
                            <img class="image-default" src="img/noPicture.png" alt="">
                        </div>
                        <div class="item-title-pattern">
                            <div class="item-title">{{a.name}} {{a.type}}</div>
                            <div class="item-description">{{a.descripcion}}</div>
                            <div class="item-packs">
                                Packs aviable:&nbsp;
                                <div ng-repeat="pack in a.packs" class="item-pack">{{pack.pack}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-desc">
                        <div class="item-d">
                            <div class="item-data">
                                <span>Units aviable: {{a.quantity}}</span>
                                <span>Minimum order: {{a.packs[0].pack}}</span>
                                <span>Seller: {{a.seller}}</span>
                                
                            </div>
                            <div>
                                <span class="item-price">{{a.price}}€/kg</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <button ng-disabled="currentPage == 0" class="btn-style" ng-click="currentPage=currentPage-1"><i class="fa fa-angle-left fa-3x" aria-hidden="true"></i></button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= data.length/pageSize - 1" class="btn-style" ng-click="currentPage=currentPage+1"><i class="fa fa-angle-right fa-3x" aria-hidden="true"></i></button>
            <div ng-show="showme" class="map">
                <ng-map id="foo" class="r-map" zoom="14" center="[38.8199296,-0.621115]" lazy-init="true">
                
                </ng-map>
                <hr>
            </div>
        </div>
    </div>   
</div>
</div>