<div class="detail-pattern">
    <div class="details-product">
        <div class="general-info">
            <div class="top-info">
            <div class="image-detail">
                <img src="../../img/noPicture.png" alt="" width="135px;" height="150px;">
            </div>
            <div class="info">
                <div class="info-title">
                    <span class="title">{{$shopDetailCtrl.data.name}},{{$shopDetailCtrl.data.type}}</span>
                    <span>Seller: {{$shopDetailCtrl.data.seller}}</span>
                </div>
                <span class="info-description">{{$shopDetailCtrl.data.descripcion}}</span>
                <div class="add-info">
                    <div class="info-miscelanea">
                        <span>
                            <i class="fa fa-archive" aria-hidden="true"></i>
                            Max Quantity: {{$shopDetailCtrl.data.quantity}}
                        </span>
                        <span>
                            <i class="fa fa-eur" aria-hidden="true"></i>                            
                            Price by Unit: {{$shopDetailCtrl.data.price}}
                        </span>
                        <span>
                            <i class="fa fa-cubes" aria-hidden="true"></i>                            
                            Minimum buy: {{$shopDetailCtrl.data.packs[0].pack}}
                        </span>
                        <span>
                            <star-rating-comp rating="'3.0'"></star-rating-comp>
                        </span>
                        
                    </div>
                    <div class="pack-election">
                        Choose pack:
                        <select name="" id="packselectec">
                            <option value=" {{pack.pack}}" ng-repeat="pack in $shopDetailCtrl.data.packs">
                                {{pack.pack}}
                            </option>
                        </select>
                        <span id="total-money" class="total-money">{{$shopDetailCtrl.data.price}}€</span>
                    </div>
                </div>
                
            </div>
            </div>
            <div id="tabs" class="tabs">
                    <ul>
                        <li class="tab-title" ng-repeat="tab in $shopDetailCtrl.tabs" 
                            ng-class="{active:isActiveTab(tab.url)}" 
                            ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>
                <div class="more-products">
                        <p>Disover more products</p>
                    <div class="your-class">
                        
                        <div ng-repeat="product in $shopDetailCtrl.more_info" class="product-carrousel">
                            <div class="images-carrousel">
                               <a href="#"><img class="image-carrousel" src="img/noPicture.png" alt=""></a> 
                            </div>
                            <div>{{product.name}}</div>
                            <div class="price-carrousel">{{product.price}}€/kg</div>
                            
                        </div>
                    </div>
                </div>

                <!--asdas{{ currentUser.username }}-->
                <script type="text/ng-template" id="one.tpl.html">
                    <div id="viewOne" class="viewTab">
                        <h1>Product Description</h1>
                        <p class>{{ $shopDetailCtrl.data.extended_description}}</p>
                        <div class="shareProducts">
                        <p id="showShared">Share this product <i class="fa fa-share-alt" aria-hidden="true"></i>
                        </p>
                        <div class="social-btns" id="social-btns">
                            <a class="btn facebook" socialshare
                            socialshare-provider="facebook"
                            socialshare-text="Share {{$shopDetailCtrl.data.name}}"
                            socialshare-hashtags="angularjs, angular-socialshare"
                            socialshare-url="http://farmixshop.net"><i class="fa fa-facebook"></i></a>
                            
                            <a class="btn twitter" socialshare
                            socialshare-provider="twitter"
                            socialshare-text="Share {{$shopDetailCtrl.data.name}}"
                            socialshare-hashtags="angularjs, angular-socialshare"
                            socialshare-url="http://farmixshop.net"><i class="fa fa-twitter"></i></a>
                            
                            <a class="btn google" socialshare
                            socialshare-provider="google"
                            socialshare-text="Share {{$shopDetailCtrl.data.name}}"
                            socialshare-hashtags="angularjs, angular-socialshare"
                            socialshare-url="http://farmixshop.net"><i class="fa fa-google"></i></a>

                            <a class="btn dribbble" socialshare
                            socialshare-provider="email"
                            socialshare-text="720kb AngularJS Socialshare"
                            socialshare-text="Share {{$shopDetailCtrl.data.name}}"
                            socialshare-url="http://farmixshop.net"><i class="fa fa-envelope-o"></i></a>

                            <a class="btn skype" socialshare
                            socialshare-provider="skype"
                            socialshare-text="720kb AngularJS Socialshare"
                            socialshare-text="Share {{$shopDetailCtrl.data.name}}"
                            socialshare-url="http://farmixshop.net"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                    </div>
                </script>

                <script type="text/ng-template" id="two.tpl.html">
                    <div id="viewTwo" class="viewTab">
                        <h1>Shipping orders</h1>
                        <p>
                            <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                            <i class="fa fa-cc-stripe" aria-hidden="true"></i>
                            
                        </p>
                    </div>
                </script>
        </div>
        <div class="more-info">
                <div class="comment-section">
                    <h2>Comments from {{$shopDetailCtrl.data.name}},{{$shopDetailCtrl.data.type}} by {{$shopDetailCtrl.data.seller}}</h2>
                    <hr>
                    <div class="comments-section">
                        <h3>{{comments.length}} Comments</h3>
                        <div class="section-pattern" style="overflow:scroll; height:200px;">
                            <div class="comments" ng-repeat='comment in comments'>
                                <p>User: {{comment.name}}</p>
                                <p>{{comment.text}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="comments-form">
                            <form action="" class="comment">
                                <div class="inputs">
                                    <input class="a userinput" ng-model='name' type='text' placeholder="Username">
                                    <textarea class="a text1" ng-model='text' class="" placeholder="Text"></textarea>
                                </div>
                                <div class="yep">
                                    <input class='button' ng-click='submit()' type='submit' value='Submit'>
                                </div>
                                     
                            </form>
                        </div>
                </div>
        </div>
    </div>
    
</div>