
<div class="contact-pattern">
<div class="contact">
  <form name="userForm">
    <h2>CONTACT US</h2>
    <div class="form-name" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;<label for="name">Name</label>
      <input type="text" id="name" class="name" ng-model="user.name"/>
      <p ng-show="userForm.name.$invalid && !userForm.name.$error.required" class="help-block">Enter a valid name.</p>
    </div>
    <div class="form-mail" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<label for="mail">E-mail:</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="user.email" require/>
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>
    <div class="form-problem" id="inputSubject" name="inputSubject" title="Choose subject">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;<label for="msg">Problem:</label>
        <br />
        <select class="problem" ng-model="user.subject">
            <option value="Select an Option" selected > Select an Option</option>
            <option value="General"> General </option>
            <option value="Technicians"> Technicians </option>
            <option value="Bugs with the Website"> Bugs with the Website</option>
        </select>
    </div>
    <div class="message" ng-class="{ 'has-error' : userForm.msg.$invalid && !userForm.msg.$pristine }">
        <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<label for="msg">Suggestion:</label>
        <textarea required ng-model="user.msg" id="msg" class="msg" rows="3" cols="5"></textarea>
        <p ng-show="userForm.msg.$invalid && !userForm.msg.$pristine" class="help-block">Enter a correct Message</p>
    </div>
    <div>
        <button type="submit" id="send" class="send" ng-click="SendContact()"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;Send</button>
    </div>
  </form>
</div>
</div>
