<div class="payment-pattern" id="payment-pattern">
    <div ng-click="show1" class="vip-payment" style="position: relative;">
        <div class="vip-img" > <img src="img/vip.png" width="75px" alt=""> </div>
        <div class="vip-box">
            <div class="title-vip"><h1>VIP</h1></div>
            <div class="upgrades-vip">
                <div class="vip-section"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Ideal for big companies</div>
                <div class="vip-section">1 month suscription</div>
                <div class="vip-section">50 free shippings</div>
                <div class="vip-section">Premium constumer support</div>
                <div class="vip-section">1 user access</div>
                <div class="vip-section-down">-5% on all shops</div>
            </div>
            <div class="vip-price">5€</div>
            <button class="vip-buy" id="vip-buy" ng-click="test.showBoxOne = !test.showBoxOne">Buy now!</button>
        </div>
    </div>
    <div class="vip-payment payments"  ng-show="test.showBoxOne">
        <h1 class="payment-method">Select you payment method</h1>
        <div class="pay-meth">
            <p class="total-payout">Total Payout 5€</p>

            <small class="favorite-method">Select your favorite payout method *</small>
            <small>If you select paypal *<p>If your payment method are paypal the payment must be checked by a FarmixShop developers, this task maybe lates 2-3 days</p></small>
            <small>If you select Stripe method <p>Please before pay, check your payment email, because this email is used to send email confirmation and to upgrade account</p></small>
            <div class="pay">
                
            <form action="http://localhost:3000/api/stripe" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js" 
                class="stripe-button"
                data-key="pk_test_FKLp6F7WNkvHBlM0xcQUaTQR"
                data-amount="0100"
                data-name="Pay with Stripe on FarmixShop"
                data-description="A VIP (5.00€)"
                data-image="/img/documentation/checkout/marketplace.png"
                data-label="Pay with Card"
                data-locale="auto"
                data-currency="eur">
                </script>
            </form>
            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="ZLWK292QKKNUW">
                <input type="image" src="https://www.sandbox.paypal.com/es_ES/ES/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                <img alt="" border="0" src="https://www.sandbox.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1">
                </form> 
            </div>
        </div>

        
    </div>
</div>

    
<!-- 
       <form stripe-form="stripeCallback">
        <input ng-model="number" placeholder="Card Number" />
        <input ng-model="expiry" placeholder="Expiration" />
        <input ng-model="cvc" placeholder="CVC" />
        <button type="submit">Submit</button>
    </form>  
-->