<script type="text/ng-template" id="templateId">
  <div class="login-pattern">
      <div class="top-login">
        <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
        <p class="text-xs-center">
          <a ui-sref="app.login"
            ng-show="$ctrl.authType === 'register'">
            Have an account?
          </a>
          <a ui-sref="app.register"
            ng-show="$ctrl.authType === 'login'">
            Need an account?
          </a>
        </p>
      </div>
      <div class="form-login">
        <list-errors errors="$ctrl.errors"></list-errors>
                <form ng-submit="$ctrl.submitForm()">
                  <div ng-disabled="$ctrl.isSubmitting">
                      <div class="form-group" ng-show="$ctrl.authType === 'register'">
                          <input class="a"
                            type="text"
                            placeholder="Username"
                            ng-model="$ctrl.formData.username" />
                      </div>
                      <div class="form-group">
                          <input class="a"
                            type="email"
                            placeholder="Email"
                            ng-model="$ctrl.formData.email" />
                      </div>
                      <div class="form-group">
                          <input class="a"
                            type="password"
                            placeholder="Password"
                            ng-model="$ctrl.formData.password" />
                      </div>

                    <p class="wa"><input type="submit" value="Login" class="w"></p>
                    <a ui-sref="app.recover" ng-show="$ctrl.authType === 'login'">Forgot your password?</a>
                    <div class="or"><span class="btn-round">or</span></div>
                    <div class="social-signin">
                      <div>
                        <a class="facebook-before" ng-click="facebook()"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <button ng-click="facebook()" class="facebook">Login Using Facbook</button></div>
                        <div><a class="twitter-before" ng-click="twitter()"><i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <button ng-click="twitter()" class="twitter">Login Using Twitter</button></div>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

                    </div>

                </div>
                </form>
      </div>
      <div id="as"></div>
    </div>


</script>
