<div>
  <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
  <list-errors errors="$ctrl.errors"></list-errors>
    <form ng-submit="$ctrl.submitForm()">
      <fieldset ng-disabled="$ctrl.isSubmitting">
        <input class="name" type="password" placeholder="Password" ng-model="$ctrl.formData.password" />
        <button class="send" type="submit" ng-bind="::$ctrl.title"></button>
      </fieldset>
    </form>
</div>
